### **Importing Libraries & Reading CSV**

In [30]:
import pandas as pd


df = pd.read_csv('Salaries.csv')
df.head(5)

/tmp/ipython-input-2627456105.py:4: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Salaries.csv')

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

## Assignment Questions

Drop rows where EmployeeName and JobTitle are 'Not provided'

In [31]:
find_rows = df.EmployeeName.str.contains('Not provided') & df.JobTitle.str.contains('Not provided')
df[~find_rows]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

Replace 'Not Provided' with 0 in BasePay OvertimePay	OtherPay	Benefits

In [32]:
# df.Basepay = df.BasePay.replace('Not provided',0)
# df.OvertimePay = df.OvertimePay.replace('Not provided',0)
# df.OtherPay = df.BasePay.replace('Not provided',0)

df.replace('Not Provided',0).BasePay
df.replace('Not Provided',0).OvertimePay
df.replace('Not Provided',0).OtherPay

print(df.BasePay)
print(df.OvertimePay)
print(df.OtherPay)

0            167411.18
1            155966.02
2            212739.13
3              77916.0
4             134401.6
              ...
148649            0.00
148650    Not Provided
148651    Not Provided
148652    Not Provided
148653            0.00
Name: BasePay, Length: 148654, dtype: object
0                  0.0
1            245131.88
2            106088.18
3             56120.71
4               9737.0
              ...
148649            0.00
148650    Not Provided
148651    Not Provided
148652    Not Provided
148653            0.00
Name: OvertimePay, Length: 148654, dtype: object
0            400184.25
1            137811.38
2              16452.6
3             198306.9
4            182234.59
              ...
148649            0.00
148650    Not Provided
148651    Not Provided
148652    Not Provided
148653         -618.13
Name: OtherPay, Length: 148654, dtype: object

Change BasePay	OvertimePay	OtherPay	Benefits type to float

In [36]:
df.BasePay = df.BasePay.replace('Not Provided',0).astype(float)
df.OvertimePay = df.OvertimePay.replace('Not Provided',0).astype(float)
df.Benefits = df.Benefits.replace('Not Provided',0).astype(float)

print(df.BasePay)
print(df.OvertimePay)
print(df.OtherPay)

0         167411.18
1         155966.02
2         212739.13
3          77916.00
4         134401.60
            ...
148649         0.00
148650         0.00
148651         0.00
148652         0.00
148653         0.00
Name: BasePay, Length: 148654, dtype: float64
0              0.00
1         245131.88
2         106088.18
3          56120.71
4           9737.00
            ...
148649         0.00
148650         0.00
148651         0.00
148652         0.00
148653         0.00
Name: OvertimePay, Length: 148654, dtype: float64
0            400184.25
1            137811.38
2              16452.6
3             198306.9
4            182234.59
              ...
148649            0.00
148650    Not Provided
148651    Not Provided
148652    Not Provided
148653         -618.13
Name: OtherPay, Length: 148654, dtype: object

Display all employees name and basepay columns  who have a BasePay greater than 200,000.

In [37]:
df.loc[(df.BasePay > 200000),['EmployeeName','JobTitle']]

              EmployeeName                                JobTitle
2           ALBERT PARDINI         CAPTAIN III (POLICE DEPARTMENT)
7            DAVID KUSHNER          DEPUTY DIRECTOR OF INVESTMENTS
9       JOANNE HAYES-WHITE  CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)
12       EDWARD HARRINGTON             EXECUTIVE CONTRACT EMPLOYEE
13             JOHN MARTIN                       DEPARTMENT HEAD V
...                    ...                                     ...
110953      Ronald P Flynn              Assistant Chief Attorney 1
110954    Sheryl L Bregman              Assistant Chief Attorney 1
110976       Susan T Obata              Supervising Physician Spec
110977       John O Funghi            Engineer/Architect Principal
111107       Mayra T Vivas             Senior Physician Specialist

[509 rows x 2 columns]

Find all employees whose JobTitle contains the word “Manager” (case = False)

In [40]:
df[df.JobTitle.str.contains('Manager',case=False)]['EmployeeName']

0               NATHANIEL FORD
83              EDWARD REISKIN
87                 KEVIN BARRY
95                MIVIC HIROSE
162              JULIE LABONTE
                  ...
147216    Steven D Koneffklatt
147502      Alice B Villagomez
147805      Stephen C Laplante
148150        Shirley M Parker
148475           James P Horan
Name: EmployeeName, Length: 4110, dtype: object

Retrieve only the columns: EmployeeName, JobTitle, and TotalPay.

In [41]:
df[['EmployeeName', 'JobTitle','TotalPay']]

,EmployeeName,JobTitle,TotalPay
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,567595.43
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),538909.28
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),335279.91
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,332343.61
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",326373.19
...,...,...,...
148649,Roy I Tillery,Custodian,0.00
148650,Not provided,Not provided,0.00
148651,Not provided,Not provided,0.00
148652,Not provided,Not provided,0.00
148653,Joe Lopez,"Counselor, Log Cabin Ranch",-618.13

Find count of employees who have zero OvertimePay.

In [46]:
df[df['OvertimePay'] == 0]['EmployeeName'].count()

np.int64(77325)

Calculate the TotalPay for each JobTitle where totalpay > 300000

In [50]:
df[(df['TotalPay'] > 300000)].groupby('JobTitle')['TotalPay'].sum()

JobTitle
ASSISTANT DEPUTY CHIEF II                          316285.74
Assistant Deputy Chief 2                           654066.15
Asst Chf of Dept (Fire Dept)                      1303828.26
Asst Med Examiner                                 1069837.40
BATTALION CHIEF, (FIRE DEPARTMENT)                 619408.60
Battalion Chief, Fire Suppress                    2845960.11
Battlion Chief, Fire Suppressi                    1266054.40
CAPTAIN III (POLICE DEPARTMENT)                    874189.19
CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)             302377.73
Captain 3                                         1274613.48
Captain, Fire Suppression                          610671.88
Chief Investment Officer                           339653.70
Chief of Police                                    987550.94
Chief, Fire Department                             977915.05
Commander 3                                        322143.10
DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)       326373.19
DEPUTY DIRECTOR OF INVESTMENTS                     307899.46
Dep Dir for Investments, Ret                       315572.01
Dept Head V                                        927825.30
Deputy Chief 3                                     471952.64
Deputy Sheriff                                     308434.84
EMT/Paramedic/Firefighter                          337204.86
Electronic Maintenance Tech                        336393.73
Executive Contract Employee                        623473.54
GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY     567595.43
Gen Mgr, Public Trnsp Dept                         305307.89
Lieutenant, Fire Suppression                       683220.45
Senior Physician Specialist                        634537.20
WIRE ROPE CABLE MAINTENANCE MECHANIC               332343.61
Name: TotalPay, dtype: float64

Find the top 5 JobTitles with the highest average TotalPayBenefits show in descending order

In [63]:
df.groupby('JobTitle')['TotalPayBenefits'].mean().sort_values(ascending=False).head(5)

JobTitle
Chief Investment Officer                          436224.360000
Chief of Police                                   411732.266667
Chief, Fire Department                            408865.326667
GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY    399211.275000
Gen Mgr, Public Trnsp Dept                        380696.440000
Name: TotalPayBenefits, dtype: float64

Replace all missing Benefits values with 0

In [66]:
import numpy as np
df.Benefits = df.Benefits.replace(np.nan,0)
df.Benefits

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
148649    0.0
148650    0.0
148651    0.0
148652    0.0
148653    0.0
Name: Benefits, Length: 148654, dtype: float64

Identify the top employee name by TotalPay in each Year. Show year, employeename and totalpay dataframe

In [84]:
df.groupby('Year')['TotalPay'].max()

Year
2011    567595.43
2012    362844.66
2013    347102.32
2014    471952.64
Name: TotalPay, dtype: float64

Find the number of employees per JobTitle.

In [85]:
df.groupby('JobTitle')['EmployeeName'].count()

JobTitle
ACCOUNT CLERK                                      83
ACCOUNTANT                                          5
ACCOUNTANT INTERN                                  48
ACPO,JuvP, Juv Prob (SFERS)                         1
ACUPUNCTURIST                                       1
                                                 ...
X-RAY LABORATORY AIDE                              26
X-Ray Laboratory Aide                             100
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS      1
Youth Comm Advisor                                  4
ZOO CURATOR                                         1
Name: EmployeeName, Length: 2159, dtype: int64